<!doctype html>
<html lang="en" ng-app="phoneBook">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
  
</head>
<body>

	<div class="wrapper">

	  	<div class="card" ng-controller="CardCtrl">

        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
          </div>
        </div>

          <div class="wrap">
            <div class="row">

              <form>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <div class="thumbnail">
                    <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">    
                    <div class="caption">
                      <p>
                        <a href="#" class="btn btn-primary" role="button">Сохранить</a> 
                        <a href="#" class="btn btn-default" role="button">Удалить</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="inputName">Имя</label>
                  <input type="text" class="form-control" id="inputName" placeholder="Имя контакта" ng-model="inputName">{{inputName}}
                </div>
                <div class="form-group">
                  <label for="inputLastName">Фамилия</label>
                  <input type="text" class="form-control" id="inputLastName" placeholder="Фамилия" ng-model="inputLastName">{{inputLastName}}
                </div>
                <div class="form-group">
                  <label for="inputEmail">Контактная информация</label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="inputEmail" placeholder="chubais@sveta.net" ng-model="inputEmail">{{inputEmail}}
                  </div>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="inputPhone" placeholder="+7(926)777-77-77"  ng-model="inputPhone">{{inputPhone}}
                  </div>
                </div>
              </div>
              </form>
              


            </div>
          </div>
      </div>

      <div class="list" ng-controller="CardCtrl">
        
        <div class="wrap">

          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <input class="btn btn-default" type="button" value="Добавить">
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
              </div>
            </div>
          </div>

          
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Имя</th>
                  <th>Фамилия</th>
                  <th>Телефон</th>
                  <th>Емайл</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in listCards">
                  <td>{{item.num}}</td>
                  <td>{{item.fName}}</td>
                  <td>{{item.lName}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="tile" ng-show="false">
        <div class="wrap">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <input class="btn btn-default" type="button" value="Добавить">
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
              </div>
            </div>
          </div>
      
          <div class="row">

            <div class="col-sm-2 col-md-2">
              <div class="thumbnail">
                <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
                <div class="caption">
                  <p>
                    <span>имя</span>
                    <span>фамилия</span>
                    <span>телефон</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-2 col-md-2">
              <div class="thumbnail">
               <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
                <div class="caption">
                  <p>
                    <span>имя</span>
                    <span>фамилия</span>
                    <span>телефон</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-2 col-md-2">
              <div class="thumbnail">
                <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
                <div class="caption">
                  <p>
                    <span>имя</span>
                    <span>фамилия</span>
                    <span>телефон</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-2 col-md-2">
              <div class="thumbnail">
                <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
                <div class="caption">
                  <p>
                    <span>имя</span>
                    <span>фамилия</span>
                    <span>телефон</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-2 col-md-2">
              <div class="thumbnail">
                <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
                <div class="caption">
                  <p>
                    <span>имя</span>
                    <span>фамилия</span>
                    <span>телефон</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>

	</div>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <!-- <script src="js/controllers.js"></script> -->
  <script> 
      var app = angular.module('phoneBook', []);

      app.factory('InboxFactory', function($http) {

        var exports = {};

        exports.getMessage = function() {
          return $http.get('json/phonebooks.json')
              .error(function(data) {
                    console.log('здесь ошибку', data);
              });
        }

        return exports;

      });

      app.controller('CardCtrl', ['$scope','InboxFactory', function($scope,InboxFactory) {
          $scope.inputName = 'yyyy';
          // console.log(InboxFactory.getMessage());
          InboxFactory.getMessage().success(function(jsonData, statusCode) {
            $scope.listCards = jsonData;
          });
      }]);

      
  </script>
</body>
</html>
