@import '../content/base.less';

body {
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
}

.wrapper {
	
}

.main {
	background: @bg_def;
	border-radius: 5px;
	margin: 0 auto;
	width: 800px;
}