@import '../content/base.less';

body {
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
}

.wrapper {

	h1 {
		font-size: 24px;
		line-height: 24px;
		margin: -102px 0 19px;
		position: absolute;
		text-transform: uppercase;
		width: 800px;
	}
	

	.row {
		margin: 0;
	}
}

.main {
	background: @bg_def;
	border-radius: 5px;
	margin: 139px auto 0;
	width: 800px;
}