.panel-default {
  background: transparent;
  border-color: #ddd;
  border: 0;
  margin: -62px 0 0;
  position: absolute;
  width: 800px;
}
.panel-default .panel-body {
  padding: 15px 15px 15px 0;
}
