<div class="tilephone" ng-if="isSelected(2)">

    <div class="row">

      <div class="col-sm-2 col-md-2" ng-repeat="item in listCardsArr | filter: lname | filter: fname">
        <a href="#/list/card{{item.id}}">
          <div class="thumbnail">
            <img src="https://api.fnkr.net/testimg/350x380/00CED1/FFF/?text=350x380">
            <div class="caption">
              <p>
                <span>{{item.fName}}</span>
                <span>{{item.lName}}</span>
                <span>{{item.phone}}</span>
              </p>
            </div>
          </div>
        </a>
      </div>

      <div ng-show="listCardsArr == false">
        <p>В книге нет записей</p>
      </div>

    </div>



</div>