{{idUser}}
<div class="card">

    <div class="panel panel-default">
      <div class="panel-body">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
      </div>
    </div>

    <div class="wrap">
        <div class="row">

          <form>
            <div class="col-sm-6 col-md-6">
              <div class="form-group info-photo">
                <div class="thumbnail">
                  <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=200x200">    
                  <div class="caption">
                    <p>
                      <a href="#" class="btn btn-primary" role="button">Сохранить</a> 
                      <a href="#" class="btn btn-default" role="button">Удалить</a></p>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-sm-6 col-md-6">
            <div class="info-user">
                <div class="form-group">
                  <label for="inputName">Имя</label>
                  <input type="text" class="form-control" id="inputName" placeholder=""+{{userCard.fName}}+"" ng-model="userCard.fName">{{uCard.fName}}
                </div>
                <div class="form-group ">
                  <label for="inputLastName">Фамилия</label>
                  <input type="text" class="form-control" id="inputLastName" placeholder="Фамилия" ng-model="userCard.lName">
                </div>
                <div class="form-group">
                  <label for="inputEmail">Контактная информация</label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="inputEmail" placeholder="chubais@sveta.net" ng-model="userCard.email">
                  </div>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="inputPhone" placeholder="+7(926)777-77-77"  ng-model="userCard.phone">
                  </div>
                </div>
            </div>
          </div>
        </form>
              


        </div>
    </div>
</div>