<!-- <pre>{{listCards | json}}</pre> -->

<div class="listphone">

	  
    <div class="panel panel-default">
      <div class="panel-heading">
      	<a class="btn btn-default" href="#/list/card">Добавить</a>
      </div>
      <div class="panel-body">
        <a href="#/list">
	        <span class="icon icon-list"></span>
        </a>
        <a href="#/tile">
        	<span class="icon icon-tile"></span>
        </a>
      </div>
    </div>
	  

	  
	  <div class="row">
	    <table class="table">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>Имя</th>
	          <th>Фамилия</th>
	          <th>Телефон</th>
	          <th>Емайл</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="item in listCards">
	          <td>{{item.num}}</td>
	          <td><a href="#/list/card{{item.id}}">{{item.fName}}</a></td>
	          <td><a href="#/list/card{{item.id}}">{{item.lName}}</a></td>
	          <td>{{item.phone}}</td>
	          <td>{{item.email}}</td>
	        </tr>
	      </tbody>
	    </table>
	  </div>

	
</div>